body{
    background-color: black;
  

}
img{
    border: 3px solid rgb(252, 251, 251);
    padding: 10px;
    margin: 10px;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}
.myfont{
    font-family: 'Courier New', Courier, monospace;
}
.mysubfont{
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke !important;
}
.myimg{
    width: 50% !important;
    border: 5px black solid !important;
    margin-top: 20px;
}

.myitalics{
    font-style: italic;
}
.myresume{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: antiquewhite;
    color: black;
    border: black 5px solid;
    

}
.resimg{
    border: 5px black solid !important;
    display: block;
    margin-left:auto;
    margin-right: auto;

}
.video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.myheader{
    text-decoration: underline ;

}
.scratchheader{
    text-align: right ;
    color: white !important;
    background-color: black;
   
}
.scratchdefault{
    background-image: url("../img/bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    }

.tabcutout{
    text-align: center ;
    margin-left: 22%;
    margin-top: 30px;
    
    
}
.mylist{
    text-align: left;
    background-color: antiquewhite;
    color: black;
    border: black 2px solid ;
    margin-left: 30%;
    margin-right: 34%;
}
.myfooter{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    color: black;
    background-color: bisque;
    margin-top: 8px;
    text-align: center;
    font-weight: bold;
    margin-left: 0px ;
}
.tag{
    margin-left: 40%;
    margin-right: 40%;
    color: black;
    background-color: antiquewhite;
    text-align: center;
}
.shead{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: bold;
    margin: auto;
}

.myimages{
    max-width:  30%;
    text-align: center;
    
}
.common{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: aliceblue;
    border: 2px solid black;
    padding: 5px;
    margin:5px;
}
.body{
    border: initial;
    background-color: initial;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;  
    margin-bottom: 25px; 
}